body{
    background-image: url(images/bg\ edu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.display-6{
    position: absolute;
    width: max-content;
    height: max-content;
    background-color: red;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 20px;
    animation-name: first;
    animation-duration: 6s;   
}

@keyframes first {
    0%{background-color: red;left:0px;}
    100%{background-color: yellow;left:600px;}
    
}

.sl{
    font-size:2em;
    text-decoration: none; 
    background-color: white;
    color: rgb(14, 12, 12); 
}

footer{
    background-color:yellow;
    text-align: center;
    width: 100%;

}

